<div class="container app">
  <app-logo></app-logo>
  
  <form [formGroup]="thinkForm" (ngSubmit)="addAnswers(thinkForm.value)">
    
    <div *ngFor="let question of questions | keys; let qIndex = index">
      <app-question
        [questions]="questions"
        [question]="question"
        [names]="names"
        [qIndex]="qIndex"
        [group]="thinkForm">
      </app-question>
    </div>

    <button type="submit" class="btn btn-primary btn-block">Enviar</button>
    <app-alert [cl]="cool_level"></app-alert>

  </form>
</div>