.app {
  background: #FFFFFF;
  box-shadow: 0 2px 10px #ccc;
  border-radius: 5px;
  padding: 5% 10%;
  margin-top: 15%;
  max-width: 700px;

  &__logo {
    width: 120px;
    height: 25px;
    text-align: center;
    margin: 0 auto 50px;
    display: block;
  }
}

.form {

  &__fieldset {
    border: none;
  }

  &--hidden {
    display: none;
  }
  
}