<div class="container app">
  <app-logo></app-logo>
  
  <form [formGroup]="myForm" (ngSubmit)="addAnswers()">
    
    <div *ngFor="let question of questions | objectToArray; let questionIndex = index">
      <app-question
        [questions]="questions"
        [question]="question"
        [names]="names"
        [questionIndex]="questionIndex"
        [group]="myForm">
      </app-question>
    </div>

    <button type="submit" class="btn btn-primary btn-block">Enviar</button>
    <app-alert [cl]="cool_level"></app-alert>

  </form>
</div>