<div [formGroup]="group">
  <fieldset class="form-group" *ngIf="!questions[question].hidden">
    <label>{{ questions[question].label }}</label>

    <div class="form-group">
      <select class="form-control" formControlName="{{names[qIndex]}}" (change)="onChange(names[qIndex], $event.target.value)">
        <option *ngFor="let item of questions[question].options | keys" value="{{ questions[question].options[item].value }}">{{ questions[question].options[item].label }}</option>
      </select>
    </div>
  </fieldset>
</div>
